fieldset{
  border-color: #e88f63;
  border-style: solid;
  background-color: rgba(244,176,141,0.5);
  /*margin-left: 25%;
  margin-right: 55%;*/
width: 200px;
  position: absolute;
  left: 500px;
}

label, input[type=button]{
  font-family: "Lato", arial, sans-serif;
  color:#4f7ea8;
}

legend{
  font-family: "Fira Sans", arial, sans-serif;
  color:#405e77;
  font-weight: bold;
}

input[type=button]{
background-color: #e88f63;
/*margin-right: 10%;*/
position: absolute;
right: 5px;
border-radius: 8px;
border: none;
font-size: 1em;

}

input[type=text], input[type=number]{
  background-color:rgba(79,126,168,0.5);
  font-family: "Lato", arial, sans-serif;
  color:#405e77;
  border: none;
}
