@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Fira+Sans|Lato|Montserrat');

body {
  background-color: #efbfa7;
  background-image: url("salmon.png");
  background-repeat: repeat-y;
  background-position: right top;
  background-size: 50%;
  background-attachment: scroll;
}

h1{
  font-family: "Homemade Apple", cursive;
  color: #2b4356;
}

h2{
  font-family: "Fira Sans", arial, sans-serif;
  color:#e88f63;
}

.color1{
  color:#e88f63;
}
.head1{
  font-family: "Fira Sans", arial, sans-serif;

}

.bodycopy{
  font-family: "Lato", arial, sans-serif;
  color: #4f7ea8;
}

#writeTables, .data, tbody{
  font-family: "Montserrat", arial, sans-serif;
  color:#405e77;
}

.theme1{
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  color: white;
  padding: 10px;
}

.theme2{
  background-color: #e88f63
}

.theme3{
  background-color: #2b4356
}

.theme4{
  background-color: #405e77

}

.theme5{
    background-color: #4f7ea8
}

table, th {
  font-family: "Fira Sans", arial, sans-serif;
  text-transform: uppercase;
  font-size: 75%;

}

td {
  text-align: center;
  padding: 1px;
  font-size: 75%;
  font-weight: normal;
}

tr:hover {
  background-color: #e88f63;
}
